BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 220
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    AfterExternBlock: true
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
ForEachMacros: [HOOK_DEFINE_INLINE, HOOK_DEFINE_TRAMPOLINE, HOOK_DEFINE_REPLACE]
AlwaysBreakAfterReturnType: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeInheritanceComma: true
BreakInheritanceList: BeforeColon
NamespaceIndentation: All